

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.2em;
    color:rgb(22, 6, 6);
    /*background-color: rgb(10, 250, 190);*/
    background: linear-gradient(45deg, #FFFF 50%,  rgb(10, 250, 190) 50%);
    padding: 0;
    margin: 0;
}
  
.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.details {
    font-size: 12px;
    position: relative;
    bottom: 9px;
}
.details2 {
    font-size: 12px;
    position: relative;
    bottom: 37px;
    text-align: center;
}
.details3 {
    font-size: 16px;
    font-weight: bolder;
    position: relative;
    bottom: 47px;
    text-align: center;
    color: red;
    width: 50%;
    margin:auto;
}
h1 {
  text-align: center;
}

label {
    display: block;
    font-size: 12px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

ul{
    margin-top: -10px;
}
input[type="text"] {
    font-size: 16px;
    padding: 1px;
    line-height: 18px;
    text-align: center;
    border-color: rgb(54, 34, 168);
}
input[type="text"]:hover {
    border-color: rgb(2, 10, 10);
    transition: 0.3s;
}


input[type="button"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 5px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: rgb(54, 34, 168);
    transition: 0.3s;
}
.click {
    margin-top: 3px;
}
.citybtn {
    position: relative;
    bottom: 17px;
}
form.frontpage {
    
    text-align: center;
}

/** ACTIVITY LIST STYLING **/
.choices {
    height:500px;
    width: 250px;
    border: solid black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
}
.activity {
    cursor: pointer;
    height:75px;
    width: 275px;
    border: solid rgba(233, 227, 227, 0.603);
    border-radius: 5px;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(95, 5, 88, 0.493);
    transition: 0.3s;
    background-color: #FFFFFF;
}
.activity:hover {
    box-shadow: 0 8px 16px 0 rgba(27, 1, 29, 0.589);
    background-color: rgb(206, 204, 204);
    border-color:  rgb(206, 204, 204);;
    transition: 0.7s;
}
.activity:hover p{
    color: rgb(71, 89, 194);
    transition: 0.3s;
}
.activity-photo {
    display: inline-block;
    height:50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
p.acttitle {
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;
    color: black;
    position: absolute;
    margin-top: 26px;
    font-size: 24px;
}


/*****************Individual Acitivity Page******************/
.activity-photo-big {
    height:300px;
    width: auto;
    margin-right: auto;
    margin-left: auto ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
h2 {
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}
a {
    text-decoration: none;
    border: solid black;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 5px;
    line-height: 26px;
    border: none;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
}
a:hover {
    color:green;
    transition: 0.3s;
}
.searchwiki {
    position: relative;
    bottom: 15px;
}
.back{
    margin-bottom: 5px;
}
input.home {
    background-color: rgb(18, 124, 110);
}
input.home:hover {
    background-color: rgb(54, 34, 168);
    transition: 0.5s;
}

/***LOADING***/
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 20, 83, 0.671);
}